.forum__users-field {
  width: 50%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  padding-top: 40px;

  &-greet {
    font-size: 1.5em;
    margin-bottom: 30px;
  }
}