.forum__header-search {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-right: 30px;


  &-result {
  overflow-y: scroll;
  position: absolute;
  top: 80px;
  z-index: 100;
  background-color: #fff;
  border-radius: 4px;
  padding-bottom: 10px;
  max-width: 270px;
  width: 100%;
  }
  
  &-result-error {
    color: #000;
    font-size: 1em;
    font-weight: normal;
    text-align: center;
  }
}