.forum__post-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 40px;

  &-user {
    display: flex;
    flex-direction: column;
    width: 30%;
  }

  &-user-name {
    font-size: 2em;
    font-weight: bold;
    margin: 0;
  }

  &-user-email {
    font-size: 1em;
  }

  &-post-title {
    font-size: 3em;
    font-weight: bold;
    margin-bottom: 80px;
    &::first-letter {
      text-transform: uppercase;
    }
  }

  &-post-body {
    font-size: 2em;

    &::first-letter {
      text-transform: uppercase;
    }
  }

  &-post-comments {
    margin-top: 80px;
  }

  &-post {
    max-width: 500px;
  }

  &-post-image {
    max-width: 500px;
    width: 500px;
  }

  &-page-profile {
    display: flex;
    align-content: center;
    text-decoration: none;
  }
}
